<body>
  <div class = "center">
    <br>
    <br>
    <br>
    <br>
    <h3><%= @title %></h3>
    <br>
    <br>
    <br>
    <%@results.each do |team|%>
    <div>
      <sidebar>
        <img class="team_logo" src="<%=team.photo_url%>"/>
        <br>
      </sidebar>

      <div id = "navigation">
        <h1><%= @todays_date %></h1>
        <div>

          <div class = "gameinfo">

            <% @todays_broadcasts.each do |broadcast| %>

    <div class="gameinfo">

    <div class = "gametitle">
      <h2><a href="/search/teams?search_parameter=<%= broadcast.visitor_team.name %>"search_parameter=<%=broadcast.visitor_team.name %>><%= broadcast.visitor_team.name %></a> @ <a href="/search/teams?search_parameter=<%=  broadcast.home_team.name %>"search_parameter=<%=broadcast.home_team.name %>><%= broadcast.home_team.name %></a></h2>
    </div>

    <div class="gamedate">
      <h3><%= broadcast.time %> | <%= broadcast.date_and_year %></h3>
    </div>
      
      <% if current_user %>
      <% if current_user_a_venue? %>
     <form action="/events" method="post">
     <input type="hidden" name="id" value="<%= broadcast.id %>">
     <button class="likebutton" type="submit">Host</button>
     </form>
      <% else %>
      
      <button class="likebutton" id="<%= broadcast.id %>" value="Broadcast" data-text-swap="Unlike">Like</button>
      <% end %>
      <% end %><span class="likes_count" >Likes:</span> <span class ="likes_number"><%= broadcast.likes_count %></span>

      

      <div id='cssmenu'>
        <br>
        <ul>
          <li><span class="event_sub_list">events:</span>
              <span class = "event_sub_list_info"><ul>
                <% if broadcast.events[0] %>
                <% broadcast.events.each do |event| %>
                <li><a href='/events/<%= event.id %>'><%=event.venue.name%></a></li></span>
                <% end %>
                <% else %>
                  <li>None</li>
                  <% end %>
              </ul>
              <br>
        </ul>
      </div>
      
 

      <div class="line"></div>
    </div>
            <% end %>



          </div>

        </div>
      </div>
    </article>
  </div>
  <%end%>
</body> 