<h1><%=@team.market + " " + @team.name%></h1>
<div>
  <sidebar>
    <img src="<%=@team.photo_url%>" width="250" height="250"/>
    <p>Name: <%= @team.name%></p>
    <p>City: <%=@team.market%></p>
    <p>League: <%=@team.league%></p>
    <br>
  </sidebar>
  <article>
    <h3>Broadcasts:</h3>
  </article>
</div>