<h1>Groups:</h1>
<% @groups.each do |group| %>
<h2><%= group.name %></h2>
<div>
  <sidebar>
    <p>Creator: <%=group.user_id%></p>
    <p>Bio: <%=group.bio%></p>
    <p>Number of Members: <%=group.users%></p>
    <br>
  </sidebar>
  <article>
    <h3>Members:</h3>
    <% group.users.each do |fan| %>
    <p><%=fan.id%></p>
    <% end %>
  </article>
</div>
<% end %>