<h1><%= @group.name %></h1>
<div>
  <sidebar>
    <p>Creator: <%=@group.creator.id%></p>
    <p>Bio: <%=@group.bio%></p>
    <p>Members(<%=@group.fans.length%>): </p>
    <h3>Members:</h3>
    <% @group.fans.each do |fan| %>
    <p><%=fan.id%></p>
    <% end %>
    <br>
  </sidebar>
  <article>
    <h1><%= @todays_date %></h1>
<% @todays_broadcasts.each do |b| %>
<% if 
  <h1><%= broadcast.title %></h1>
  <div>
    <sidebar>
      <h3><%=broadcast.time%></h3>
      <div class ="likebutton">
      <button data-text-swap="Unlike">Like</button>
    </div>
    </sidebar>
    <article>
      <%broadcast.events.each do |event|%>
        <p><%=event.venue.name%> | [address] </p>
        <p>Blurb: <%=event.blurb%></p>
        <p>Info: <%=event.info%></p>
        <br>
      <% end %>
    </article>
  </div>
<% end %>
  </article>
</div>