
<div class="venue_photo" ><img src=<%=@venue.photo_url%>>
  <div class="event_text">
    <h1><%= @broadcast.title %></h1>
    <h2><%=@broadcast.time%></h2>
    <h3 id ="blurb">Blurb: <%=@broadcast.blurb%>1/2 off on all well drinks until half time.</h3>
  </div>
</div>
<% if current_user_the_host?(@event) %>
<button class="editEvent" id=<%=@event.id %> value = "Event" data-text-swap="Save">Edit</button>


<a href="/delete/events/<%=@event.id%>" class="deleteEvent" id=<%=@event.id %> value = "Event" onclick="return confirm('Are you sure you want to delete this event?')"><button> Delete</button></a>

<% end %>


<sidebar>
  <p>Venue: <%=@venue.name%></p>
  <p>City: <%=@venue.city%></p>
  <p>State: <%=@venue.state%></p>
  <p>Zip: <%=@venue.zip%></p>
  <p>Phone: <%=@venue.phone_number%></p>
  <p>Bio: <%=@venue.bio%></p>
  <br>
</sidebar>
<article>
  <div class='event-manager'>
    <ul class='events'>
      <li><%=@event.broadcast.datetime%></li>
    </ul>
  </div>
</article>
</div>

<script id="eventTemplate" type="text/template">
<ul id=<%%= id %> class="event">
<form class="edit-form">
<li><h1><%%= name %></h1></li>
<li>blurb: <%%= blurb %></li>
<li>info: <%%= info %></li>
<input type="hidden" name="id" value=<%%= id %>>
<button class="edit">Edit</button>
</form>
</ul>
</script>