<% venue = @event.venue %>
<h1><%= @event.name %></h1>
<div>
  <sidebar>
    <p>Venue: <%=venue.name%></p>
    <p>Photo: <%=venue.photo_url%></p>
    <p>City: <%=venue.city%></p>
    <p>State: <%=venue.state%></p>
    <p>Zip: <%=venue.zip%></p>
    <p>Phone: <%=venue.phone_number%></p>
    <p>Bio: <%=venue.bio%></p>
    <br>
  </sidebar>
  <article>
    <p><%=@event.name%></p>
    <p><%=@event.blurb%></p>
    <p><%=@event.info%></p>
    <p><%=@event.broadcast.datetime%></p>
    <br>
  </article>
</div>