<% venue = @event.venue %>
<h1><%= @event.name %></h1>
<div>
  <sidebar>
    <p>Venue: <%=venue.name%></p>
    <p>Photo: <%=venue.photo_url%></p>
    <p>City: <%=venue.city%></p>
    <p>State: <%=venue.state%></p>
    <p>Zip: <%=venue.zip%></p>
    <p>Phone: <%=venue.phone_number%></p>
    <p>Bio: <%=venue.bio%></p>
    <br>
  </sidebar>
  <article>
    <div class='event-manager'>
  <ul class='events'>
    <li><%=@event.broadcast.datetime%></li>
  </ul>
</div>
  </article>
</div>

<script id="eventTemplate" type="text/template">
  <ul id=<%%= id %> class="event">
  <form class="edit-form">
    <li><h1><%%= name %></h1></li>
    <li>blurb: <%%= blurb %></li>
    <li>info: <%%= info %></li>
    <input type="hidden" name="id" value=<%%= id %>>
    <button class="edit">Edit</button>
  </form>
  </ul>
</script>