
<h1><%= @broadcast.title %></h1>
<h3><%=@broadcast.time%></h3>
<p id ="blurb">Blurb: <%=@broadcast.blurb%>BlurbPlaceholder</p>

<% if current_user_the_host?(@event) %>
  <button class="editEvent" id=<%=@event.id %> value = "Event" data-text-swap="Save">Edit</button>


  <a href action="/events/#{@event.id}" method="delete">  <button class="deleteEvent" id=<%=@event.id %> value = "Event"> Delete</button>

<% end %>


  <sidebar>
    <p>Venue: <%=@venue.name%></p>
    <p><img src=<%=@venue.photo_url%>></p>
    <p>City: <%=@venue.city%></p>
    <p>State: <%=@venue.state%></p>
    <p>Zip: <%=@venue.zip%></p>
    <p>Phone: <%=@venue.phone_number%></p>
    <p>Bio: <%=@venue.bio%></p>
    <br>
  </sidebar>
  <article>
    <div class='event-manager'>
  <ul class='events'>
    <li><%=@event.broadcast.datetime%></li>
  </ul>
</div>
  </article>
</div>

<script id="eventTemplate" type="text/template">
  <ul id=<%%= id %> class="event">
  <form class="edit-form">
    <li><h1><%%= name %></h1></li>
    <li>blurb: <%%= blurb %></li>
    <li>info: <%%= info %></li>
    <input type="hidden" name="id" value=<%%= id %>>
    <button class="edit">Edit</button>
  </form>
  </ul>
</script>