<h1><%= @venue.name %></h1>
<div>
  <sidebar>
    <p>Photo: <%=@venue.photo_url%></p>
    <p>City: <%=@venue.city%></p>
    <p>State: <%=@venue.state%></p>
    <p>Zip: <%=@venue.zip%></p>
    <p>Phone: <%=@venue.phone_number%></p>
    <p>Bio: <%=@venue.bio%></p>
    <br>
  </sidebar>
  <article>
    <%@venue.events.each do |event|%>
    <p><%=event.name%></p>
    <p><%=event.blurb%></p>
    <p><%=event.info%></p>
    <p><%=event.broadcast.datetime%></p>
    <br>
    <% end %>
  </article>
</div>