<h1><%= @todays_date %></h1>
<% @todays_broadcasts.each do |broadcast| %>
  <h1><%= broadcast.title %></h1>
  <div>
    <sidebar>
      <h3><%=broadcast.time%></h3>
    <div class = "likebutton" value = "broadcast">
      <button data-text-swap="Unlike">Like</button>
    </div>
    </sidebar>
    <article>
      <%broadcast.events.each do |event|%>
        <p><%=event.venue.name%> | [address] </p>
        <p>Blurb: <%=event.blurb%></p>
        <p>Info: <%=event.info%></p>
        <br>
      <% end %>
    </article>
  </div>
<% end %>